*{
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    
    height: 100%;

}

header{
    background-color:black;
    color: white;
}
 
header .image-profile{

    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    

}

.dates{

 padding: 50px;
}

main .academic{

   margin-top: 35px;
   margin-bottom: 35px;
    

}


main{
    background-color: cornflowerblue;
}
main aside{
    text-decoration: none;
}

